* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav1 {
    width: 100%;
    position: fixed;
}

.navbar button {
    background-color: black;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav .logo img {
    width: 100px;
    cursor: pointer;
    margin: 4px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

nav ul .nav-item a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #fac031;
}

nav .icon i {
    font-size: 18px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

nav .icon i:hover {
    color: #fac031;
}

/* <----------main----------> */
#Home .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home .main .box1 {
    width: 50%;
    height: 100%;
}

#Home .main .box1 .box1_text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 10%;
}

#Home .main .box1 .box1_text span {
    font-size: 60px;
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
}

#Home .main .box1 p {
    width: 80%;
    text-align: justify;
    line-height: 22px;
    margin-top: 5%;
    margin-left: 10%;
}

#Home .main .box1 .box1_btn1 {
    width: 25%;
    height: 50px;
    background-color: #fac031;
    cursor: pointer;
    padding-top: 13px;
    text-align: center;
    border-radius: 40px;
    margin-top: 5%;
    margin-left: 10%;
}

#Home .main .box1 .box1_btn1 a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

#Home .main .box1 .box1_btn1 i {
    color: #fff;
    transition: 0.3s;
}

#Home .main .box1 .box1_btn1:hover i {
    transform: translateX(7px);
}

#Home .main .box2 {
    width: 50%;
    height: 100%;
    margin-top: 8%;
}

#Home .main .box2 .box2_image img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}


/* <----------main1----------> */
#About .main1 {
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About .main1 .box1 {
    width: 50%;
    height: 680px;
}

#About .main1 .box1 .box1_image img {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

#About .main1 .box2 {
    width: 50%;
    height: 680px;
}

#About .main1 .box2 .box2_text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 10%;
}

#About .main1 .box2 .box2_text h2 {
    font-weight: bold;
    margin-left: 10%;
}

#About .main1 .box2 .box2_text span {
    font-size: 60px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
    margin-right: 15px;
}

#About .main1 .box2 p {
    width: 80%;
    text-align: justify;
    line-height: 22px;
    margin-top: 5%;
    margin-left: 10%;
}

#About .main1 .box2 .box2_btn1 {
    width: 25%;
    height: 50px;
    background-color: #fac031;
    cursor: pointer;
    padding-top: 13px;
    text-align: center;
    border-radius: 40px;
    margin-top: 5%;
    margin-left: 10%;
}

#About .main1 .box2 .box2_btn1 a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

#About .main1 .box2 .box2_btn1 i {
    color: #fff;
    transition: 0.3s;
}

#About .main1 .box2 .box2_btn1:hover i {
    transform: translateX(7px);
}

/* <----------main2----------> */
.main2 {
    width: 100%;
    height: 100%;
}

.main2 h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.main2 h1 span {
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
}

.main2 .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.main2 .box1 .menu_card {
    width: 30%;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
}

.main2 .box1 .menu_card .menu_img img {
    width: 90%;
    height: 250px;
    margin-left: 5%;
    margin-top: 10px;
}

.main2 .box1 .menu_card .menu_info h2 {
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
    font-weight: bold;
}

.main2 .box1 .menu_card .menu_info p {
    text-align: center;
    margin-top: 8px;
    line-height: 18px;
}

.main2 .box1 .menu_card .menu_info h3 {
    text-align: center;
    margin-top: 10px;
}

.main2 .box1 .menu_card .menu_info .menu_icon {
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.main2 .box1 .menu_card .menu_info .menu_btn {
    width: 60%;
    height: 35px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    background-color: #000;
    margin-left: 20%;
    border: none;
}

/* <----------main3----------> */
.main3 {
    width: 100%;
    height: 100%;
}

.main3 h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

.main3 h1 span {
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
}

.main3 .box1 {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1%;
}

.main3 .box1 .img1 {
    width: 33%;
    height: 300px;
    margin-top: 5px;
    background-color: #000;
}

.main3 .box1 .img1:hover img {
    opacity: 0.4;
}

.main3 .box1 .img1 img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main3 .box1 .img1 .img1_text {
    display: none;
}

.main3 .box1 .img1:hover .img1_text {
    display: block;
}

.main3 .box1 .img1 h3 {
    font-size: 35px;
    margin-top: -40%;
    color: #fac031;
    text-align: center;
    font-family: mv boli;
    opacity: 1;
}

.main3 .box1 .img1 p {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    text-align: center;
    color: white;
    line-height: 22px;
    transition: 0.3s;
}

.main3 .box1 .img1 .box1_btn1 {
    width: 30%;
    height: 50px;
    background-color: #fac031;
    cursor: pointer;
    padding-top: 13px;
    text-align: center;
    border-radius: 40px;
    margin-top: 5%;
    margin-left: 35%;
}

.main3 .box1 .img1 .box1_btn1 a {
    color: black;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* <----------main4----------> */
.main4 {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.main4 h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

.main4 h1 span {
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
    line-height: 22px;
}

.main4 .box1 {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-top: 2%;
}

.main4 .box1 .box1_card {
    width: 23%;
    height: 450px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main4 .box1 .box1_card img {
    width: 55%;
    height: 200px;
    border-radius: 50%;
    margin-left: 22.5%;
    margin-top: 20px;
}

.main4 .box1 .box1_card h3 {
    text-align: center;
    padding-top: 10px;
}

.main4 .box1 .box1_card p {
    width: 98%;
    text-align: justify;
    padding-left: 10px;
}

/*Footer*/

footer {
    width: 100%;
    padding: 30px 0 0 20px;
    margin-top: 5%;
    background-color: #aaaaaa;
}

footer .footer_main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .footer_main .footer_tag {
    width: 20%;
    text-align: center;
}

footer .footer_main .footer_tag h2 {
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p {
    margin: 10px 0;
}

footer .footer_main .footer_tag i {
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
    color: #fac031;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span {
    color: #fac031;
    margin-left: 10px;
}






@media screen and (max-width: 1400px) {
    nav {
        width: 100%;
        height: 100%;
        background: white;
    }

    /* <----------main----------> */
    #Home .main {
        width: 100%;
        height: 100%;
    }

    #Home .main .box1 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box1 .box1_text h1 {
        font-size: 40px;
    }

    #Home .main .box1 .box1_text span {
        font-size: 40px;
    }

    #Home .main .box1 .box1_btn1 {
        width: 40%;
        height: 50px;
    }

    #Home .main .box2 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box2 .box2_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* <----------main----------> */
    #About .main1 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box1 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box1 .box1_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    #About .main1 .box2 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box2 .box2_text h1 {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_text span {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_btn1 {
        width: 40%;
        height: 50px;
    }

    #About .main1 .box1 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box1 .box1_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* <----------main3----------> */
    .main3 {
        width: 100%;
        height: 100%;
    }

    .main3 .box1 .img1:hover .img1_text {
        display: none;
    }

    .main3 h1 {
        font-size: 40px;
    }

    .main3 .box1 .img1 {
        width: 32%;
        height: 300px;
    }

    .main3 .box1 .img1 .box1_btn1 {
        width: 60%;
        height: 50px;
        margin-left: 20%;
    }

    /* <----------main4----------> */
    .main4 h1 {
        font-size: 40px;
    }

    .main4 .box1 .box1_card {
        width: 24%;
        height: 450px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card img {
        width: 55%;
        height: 180px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card p {
        text-align: left;
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        width: 100%;
        height: 100%;
        background: white;
    }

    /* <----------main----------> */
    #Home .main {
        width: 100%;
        height: 100%;
    }

    #Home .main .box1 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box1 .box1_text h1 {
        font-size: 40px;
    }

    #Home .main .box1 .box1_text span {
        font-size: 40px;
    }

    #Home .main .box1 .box1_btn1 {
        width: 40%;
        height: 50px;
    }

    #Home .main .box2 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box2 .box2_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* <----------main----------> */
    #About .main1 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box1 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box1 .box1_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    #About .main1 .box2 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box2 .box2_text h1 {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_text span {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_btn1 {
        width: 40%;
        height: 50px;
    }

    #About .main1 .box1 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box1 .box1_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* <----------main3----------> */
    .main3 {
        width: 100%;
        height: 100%;
    }

    .main3 .box1 .img1:hover .img1_text {
        display: none;
    }

    .main3 h1 {
        font-size: 40px;
    }

    .main3 .box1 .img1 {
        width: 32%;
        height: 300px;
    }

    .main3 .box1 .img1 .box1_btn1 {
        width: 60%;
        height: 50px;
        margin-left: 20%;
    }

    /* <----------main3----------> */
    .main4 h1 {
        font-size: 40px;
    }

    .main4 .box1 .box1_card {
        width: 24%;
        height: 450px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card img {
        width: 55%;
        height: 180px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card p {
        text-align: left;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    nav {
        width: 100%;
        height: 100%;
        background: white;
    }

    /* <----------main----------> */
    #Home .main {
        width: 100%;
        height: 100%;
    }

    #Home .main .box1 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box1 .box1_text h1 {
        font-size: 40px;
    }

    #Home .main .box1 .box1_text span {
        font-size: 40px;
    }

    #Home .main .box1 .box1_btn1 {
        width: 40%;
        height: 50px;
    }

    #Home .main .box2 {
        width: 50%;
        height: 100%;
    }

    #Home .main .box2 .box2_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* <----------main----------> */
    #About .main1 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box1 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box1.box1_image img {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    #About .main1 .box2 {
        width: 50%;
        height: 100%;
    }

    #About .main1 .box2 .box2_text h1 {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_text span {
        font-size: 40px;
    }

    #About .main1 .box2 .box2_btn1 {
        width: 40%;
        height: 50px;
    }

    /* <----------main2----------> */
    .main2 {
        width: 100%;
        height: 100%;
    }

    .main2 h1 {
        font-size: 40px;
        padding-top: 30px;
    }

    .main2 .box1 .menu_card {
        width: 46%;
        height: 500px;
        margin-top: 30px;
        margin-left: 2%;
    }

    /* <----------main3----------> */
    .main3 {
        width: 100%;
        height: 100%;
    }

    .main3 .box1 .img1:hover .img1_text {
        display: none;
    }

    .main3 h1 {
        font-size: 40px;
    }

    .main3 .box1 .img1 {
        width: 46%;
        height: 300px;
        margin-left: 2%;
    }

    .main3 .box1 .img1 .box1_btn1 {
        width: 60%;
        height: 50px;
        margin-left: 20%;
    }

    /* <----------main3----------> */
    .main4 h1 {
        font-size: 40px;
    }

    .main4 .box1 .box1_card {
        width: 45%;
        height: 450px;
        margin-left: 2%;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card img {
        width: 55%;
        height: 180px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card p {
        font-size: 17px;
    }

    /*Footer*/

    footer {
        width: 100%;
        height: 100%;
    }

    footer .footer_main .footer_tag {
        width: 19%;
        text-align: center;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 776px) {
    nav {
        width: 100%;
        height: 100%;
        background: white;
    }

    /* <----------main----------> */
    #Home .main {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #Home .main .box1 {
        width: 100%;
        height: 100%;
    }

    #Home .main .box1 .box1_text h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 8%;
        margin-left: 5%;
    }

    #Home .main .box1 .box1_text span {
        font-size: 40px;
    }

    #Home .main .box1 p {
        width: 80%;
        margin-left: 5%;
    }

    #Home .main .box1 .box1_btn1 {
        width: 30%;
        height: 50px;
        margin-left: 5%;
    }

    #Home .main .box2 {
        width: 100%;
        height: 100%;
    }

    #Home .main .box2 .box2_image img {
        width: 80%;

    }

    /* <----------main----------> */
    #About .main1 {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #About .main1 .box1 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box1 .box1_image img {
        width: 80%;

    }

    #About .main1 .box2 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box2 .box2_text h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 8%;
        margin-left: 5%;
    }

    #About .main1 .box2 .box2_text h2 {
        margin-left: 5%;
    }

    #About .main1 .box2 .box2_text span {
        font-size: 40px;
    }

    #About .main1 .box2 p {
        width: 80%;
        margin-left: 5%;
    }

    #About .main1 .box2 .box2_btn1 {
        width: 30%;
        height: 50px;
        margin-left: 5%;
    }

    /* <----------main2----------> */
    .main2 {
        width: 100%;
        height: 100%;
    }

    .main2 h1 {
        font-size: 40px;
        padding-top: 30px;
    }

    .main2 .box1 .menu_card {
        width: 46%;
        height: 500px;
        margin-top: 30px;
        margin-left: 2%;
    }

    /* <----------main3----------> */
    .main3 {
        width: 100%;
        height: 100%;
    }

    .main3 .box1 .img1:hover .img1_text {
        display: none;
    }

    .main3 h1 {
        font-size: 40px;
    }

    .main3 .box1 .img1 {
        width: 46%;
        height: 300px;
        margin-left: 2%;
    }

    .main3 .box1 .img1 .box1_btn1 {
        width: 60%;
        height: 50px;
        margin-left: 20%;
    }

    /* <----------main3----------> */
    .main4 h1 {
        font-size: 40px;
    }

    .main4 .box1 .box1_card {
        width: 45%;
        height: 450px;
        margin-left: 2%;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card img {
        width: 55%;
        height: 180px;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card p {
        font-size: 14px;
        padding-top: 30px;
    }

    /*Footer*/

    footer {
        width: 100%;
        height: 100%;
    }

    footer .footer_main .footer_tag {
        width: 45%;
        text-align: left;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 576px) {
    nav {
        width: 100%;
        height: 100%;
        background: white;
    }

    /* <----------main----------> */
    #Home .main {
        width: 100%;
        height: 100%;
        /* flex-wrap: wrap; */
    }

    #Home .main .box1 {
        width: 100%;
        height: 100%;
    }

    #Home .main .box1 .box1_text h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 8%;
        margin-left: 5%;
    }

    #Home .main .box1 .box1_text span {
        font-size: 40px;
    }

    #Home .main .box1 p {
        width: 80%;
        margin-left: 5%;
    }

    #Home .main .box1 .box1_btn1 {
        width: 40%;
        height: 50px;
        margin-left: 5%;
    }

    #Home .main .box2 {
        width: 100%;
        height: 100%;
    }

    #Home .main .box2 .box2_image img {
        width: 80%;

    }

    /* <----------main1----------> */
    #About .main .box1 {
        width: 100%;
        height: 100%;
    }

    #About .main .box1 .box1_image img {
        width: 80%;
    }

    #About .main1 {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    #About .main1 .box2 {
        width: 100%;
        height: 100%;
    }

    #About .main1 .box2 .box2_text h1 {
        font-size: 40px;
        font-weight: bold;
        margin-top: 8%;
        margin-left: 5%;
    }

    #About .main1 .box2 .box2_text span {
        font-size: 40px;
    }

    #About .main1 .box2 p {
        width: 80%;
        margin-left: 5%;
    }

    #About .main1 .box2 .box2_btn1 {
        width: 40%;
        height: 50px;
        margin-left: 5%;
    }

    /* <----------main2----------> */
    .main2 {
        width: 100%;
        height: 100%;
    }

    .main2 h1 {
        font-size: 40px;
        padding-top: 30px;
    }

    .main2 .box1 {
        flex-wrap: wrap;
    }

    .main2 .box1 .menu_card {
        width: 90%;
        height: 500px;
        margin-top: 30px;
        margin-left: 5%;
    }

    /* <----------main3----------> */
    .main3 {
        width: 100%;
        height: 100%;
    }

    .main3 .box1 .img1:hover .img1_text {
        display: none;
    }

    .main3 h1 {
        font-size: 40px;
    }

    .main3 .box1 .img1 {
        width: 80%;
        height: 300px;
        margin-left: 10%;
    }

    .main3 .box1 .img1 .box1_btn1 {
        width: 60%;
        height: 50px;
        margin-left: 20%;
    }

    /* <----------main3----------> */
    .main4 h1 {
        font-size: 40px;
    }

    .main4 .box1 .box1_card {
        width: 80%;
        height: 450px;
        margin-left: 10%;
        margin-top: 20px;
    }

    .main4 .box1 .box1_card img {
        width: 55%;
        height: 180px;
        margin-top: 20px;
    }

    /*Footer*/

    footer {
        width: 100%;
        height: 100%;
    }

    footer .footer_main .footer_tag {
        width: 80%;
        text-align: left;
        margin-bottom: 2%;
    }
}